body {
  margin: 0;
  padding: 0;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
  font-weight: 600;
}


li {
  list-style: none;
 
}

a {
  color:black;
  text-decoration: none;
}

h2 {
  font-size: 32px;
  text-align: center;
}

.header {
  position: relative;
}

.header__wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  z-index: 5;
}


.header__logo img {
  width: 80%;
}

.header__list ul {
  display: flex;
  flex-wrap: wrap;
}

.header__list a {
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 3px 5px #000000;
}

.header__list a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.header__list li {
  padding: 0 15px;
}

.header__mv img {
    width:100%;
    max-width: 100%;
    height: auto;
}
.header__mv {
  position: relative;
}

.header__title {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  writing-mode: vertical-rl;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-shadow: 1px 3px 5px #000000;
  font-size: 150%;
}

.responsiveheader__title {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  writing-mode: vertical-rl;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-shadow: 1px 3px 5px #000000;
  font-size: 80%;
  height: 160px;
}

.about {
  margin: 0 50px;
}

.about__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__img img {
  margin: 2%;
    width:100%;
    max-width: 100%;
    height: auto;
}
.about__text {
  text-align: center;
}
.about__text {
  margin:2%;
}

table{
  margin:0 auto;
  border:1px solid #00CF31;
  border-spacing: 0;
  overflow:hidden;
  font-size: 120%;
}
td,th{
  border-bottom:1px solid #00CF31;
}
td,th{
  padding:10px;
}
th{
  background:#70DE8A;
}
table tbody tr:last-child th,
table tbody tr:last-child td{
  border-bottom: none;
}
th + th,td{
  border-left:1px solid #00CF31;
}

.move__info {
  text-align: center;
  padding: 50px 0;
}

.footer {
  background-image: url(../img/sky__footer.jpg);
  background-size: cover;
  height: 250px;
  padding: 0 0  20px 50px;
 }


.footer__list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.footer__list li {
  padding: 15px;
}

.footer__list a {
 font-weight: 600;
 color: #ffffff;
 text-shadow: 1px 3px 5px #000000;
}

.footer__list a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.footer__company {
  padding-left: 15px;
  font-weight: 600;
}
.footer__company h4 {
  margin: 0;
  padding: 5px;
}
.footer__company p {
  margin: 0;
  padding: 5px;
  color: #ffffff;
  text-shadow: 1px 3px 5px #000000;
  cursor: default;
}


.open,
.close {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}



@media screen and (min-width:769px) and ( max-width:2000px) {
  .responsiveheader__title {
    display: none;
  }
  .modalheader__list {
    display: none;
  }
}


@media screen and (max-width:768px) { 
  .header__list {
    display: none;
  }

  .header__logo img {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20%;
}
 .footer__list {
   display: none;
 }

 .header__title {
   display:none;
 }


 .footer__company {
   padding-top: 30px;
 }


 .fas {
  color: green;
}

.header__logo img {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20%;
}

.header__list {
  display: none;
}
  .open,
  .close {
    display: block;
    font-size: 30px;
  }
  
   .open {
    position: absolute;
    top: 0;
    z-index: 100;
    background: #ffffff;
    padding:5px 10px;
  }
  .close {
    padding-left: 8px;
  }
  .aside {
    width: 250px;
    position: absolute;
    left: -250px;
    height: 100%;
    transition: all 0.2s;
    background: #ffffff;
    z-index: 100;
    top: 0;
  }

  .modalheader__list li {
   padding:7px;
   font-size: 120%;
   font-weight: 600;
  }
  
  input[type="checkbox"]:checked ~ .aside {
    left: 0;
  }
  
  input[type="checkbox"]:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) ;
    z-index: 50;
  } 


}

@media screen and (max-width:425px) {
.responsiveheader__title {
  top: 72%;
}
}