

body {
  margin: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background: black;
  padding: 12px 20px;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}


.header ul {
 display: flex;
 margin-right: 200px;
}

.header li {
	margin-left: 3rem;
}


.header-list-item a {
color: #ffffff;
display: block;
border-bottom: 1px solid black;
}

.header-list-item a:hover {
  border-bottom: 1px solid #ffffff;
}

.header_info {
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
  top: 0;
  right:0;
  line-height: 100px;
  margin: 0;
}

.header_info a {
  font-weight: bold;
  display: block;
  padding: 0 5px;
  color: #ffffff;
}


.eye-catch {
  position: relative;
}

.eye-catch img {
  background-image: cover;
width: 100%;
height: 630px;
}

.eye-catch h2 {
  position: absolute;
  top: 20%;
  left:5%;
  font-size: 60px;
  color: #ffffff;
  
}

.fadein{
  animation-name: fade-in5;
  animation-duration: 1.5s; 
  animation-timing-function: ease; 
  animation-delay: 0; 
  animation-iteration-count: 1; 
  animation-direction: normal;
  animation-fill-mode: forwards; 
}

  @keyframes fade-in5 {
    0% {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

.container {
  width: 1200px;
  margin: 0 auto;
}

.news {
  padding: 50px;
}

.news h3 {
  font-size: 32px;  
  text-align: center;
}
.news-items {
  margin: 20px;
  border-bottom: 1px dashed black;
  width: 800px;
  margin-left: 200px;
}
.news-items time {
  margin-right: 195px;
 
}


.news-items p {
  display: table-cell;
}

.news-items a {
  color: black;
  font-size: 17px;
  padding-left: 20px;
}

.news-items a:hover {
  opacity: 0.6;
}

.about {
    padding-bottom: 100px;
    position: relative;
}

.about h3 {
  font-size: 32px;
  text-align: center;
}


.about_text {
  text-align: center;
  margin: 0 40px;
  font-size: 17px;
}


.about_img {
  position: absolute;
  top: 0%;
  right: 6%;
}




.section2 h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;  
}

.section2-wrap {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.section2-wrap:nth-child(even) {
  flex-direction: row-reverse;
}

.section2 img {
width:674.5px;
height: 400px;
}

.desc {
  width: calc(100% - 600px - 32px);
  background-color: black;
  height: 300px;
  color: #ffffff;
  padding: 50px;
}

.desc h4 {
  text-align: center;
  font-size: 30px;
  margin: 5px;
}


.section3 h3 {
  text-align: center;
  font-size: 32px;
  padding: 50px
}



.section3-btn a {
display: block;
background-color: black;
padding: 12px 20px;
color: #ffffff;
text-align: center;
margin: 0 auto;
max-width:200px;
}

.section3 p {
  text-align: center;
  display: block;
  padding: 20px 0 50px 0;
}


.footer {
  height: 200px;
  background: black;
}

.access {
  display: flex;
  justify-content: space-between;
}

.access h5 {
  font-size: 18px;
  margin: 0 0 0 5px;
  font-weight: bold;
}

.access-text {
  margin: 0 auto;
}

.access-text p {
  margin: 5px;
}

.access-text-add {
  margin-bottom: 5px;
}
.access-text-foot {
  margin-bottom: 20px;
}




.section4 h4 {
  text-align: center;
  font-size: 32px;
}


.map {
  margin-bottom: 50px;
margin-right: 30px;
}

.footer {
  padding: 20px;
}
.sns ul {
  display: flex;
  justify-content: center;
}

.footer small {
  text-align: center;
  display: block;
  color: #ffffff;
  margin-top: 50px;
}

