@media screen and (min-width:776px) and (max-width:2000px) {
  .aside {
    display: none;
  }
}


@media screen and (max-width: 1024px) {

  .about__img {
    margin: 0 auto;
    padding: 0;
  }
  .about__body{
    margin: 0 auto;
  }
  .perform_wrap-item-text {
    width: 70%;
    text-align: center;
  }

  .ficsite_wrap-item-text {
    width: 60%;
  }
  .ficsite_wrap-item-textbtn ul {
   flex-direction: column;
   width: 180px;
   margin: 0 auto;
  }
}




@media screen and (max-width: 776px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  .header {
    flex-direction: column;
  }

  .header__list {
     display: none;
  }

  .aside_logo {
    font-size: 30px;
    margin: 0 15px;
  }

  .aside_list {
    font-size: 18px;
    margin: 5px;
    padding-left:30px;
  }

  .aside_list li {
    margin-top: 15px;
  }

  /* hannba-ga- */
  .open,
.close {
  display: block;
  font-size: 30px;
  padding-left: 10px;
}

.open {
  position: absolute;
  top: 0;
  z-index: 10;
}
.aside {
  width: 250px;
  position: absolute;
  left: -250px;
  height: 100%;
  transition: all 0.2s;
  background: #ffffff;
  z-index: 100;
  top: 0;
}

input[type="checkbox"]:checked ~ .aside {
  left: 0;
}

input[type="checkbox"]:checked ~ .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) ;
  z-index: 50;
}


   .about_wrap {
     flex-direction: column;
   }


   .about__body {
     width: auto;
     margin: 0 auto;
   }

   .perform_wrap-item-text {
     width: 100%;
   }
   .site_wrap-item {
     margin: 0 auto;
   }
   .ficsite_wrap-item {
     margin: 0 auto;
   }
   .ficsite_wrap-item-text {
     width: 100%;
   }
   .repro_wrap-item {
     margin: 0 auto;
   }

   .about_wrap {
     margin: 0 auto;
   }

   .modal__content_img {
     width: 300px;
     margin: 0 auto;
   }
  
   #modal01 .modal__content {
     display: block;
     padding: 20px;
   }

   #modal02 .modal__content {
    display: block;
    padding: 20px;
   }
   #modal03 .modal__content {
    display: block;
    padding: 20px;
   }
   #modal04 .modal__content {
    display: block;
    padding: 20px;
   }

 .modal__content_about {
    width: 80%;
    margin: 0 auto;
  }

  .modal__content_about li {
    font-size: 80%;
    padding-bottom: 8px;
    list-style: square;
  }
  .modal__content_text {
    font-size: 80%;
    margin-bottom: 8px;
  }
  .modal__content_text2 {
    font-size: 80%;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
     html {
       margin: 0 auto;
     }
  
    body {
      width: 100%;
      height: auto;
    }

    .container {
      margin: 0px;
    }

    .header__mv h1 {
      font-size: 35px;
    }

    .about__wrap {
      grid-template-columns: 1fr;
    }

    
    .about__body {
      width: auto;
      padding: 0 35px;
    }


    .strength_wrap {
      grid-template-columns: 1fr;
    }
    
    .skill__wrap {
      grid-template-columns: 1fr;
    }
    .modal__content img {
      display: none;
    }

    .modal__content_about {
       width: auto;
     }
   


    .site_wrap {
      grid-template-columns: 1fr;
      margin: 0;
    }

    .ficsite_wrap-item-img {
      width: auto;
      height: auto;
      object-fit: none;
      width: max-content;
      height: max-content;
      grid-area: item;
  
    }
    .perform_wrap-item img {
      width: 300px;
      padding: 0;
      margin: 0 auto;
    }

    .site_about {
      margin: 0 ;
    }

    .site_wrap-item .item3 img {
      display: none;
    }


    .ficsite_wrap {
      grid-template-columns: 1fr;
      margin: 0;
    }
  .ficsite_wrap-item-img {
    width: auto;
    padding-right: 10px;
  }
  .ficsite_wrap-item img {
    width: 300px;
    margin: 0 auto;
    padding: 0;
  }

  .ficsite_wrap-item-text {
    padding: 20px;
  }

    .repro_wrap {
      grid-template-columns: 1fr;
    }

    .repro img {
      margin: 0;
      width: 300px;
    }

    .repro {
      margin: 0;
    }

  }
  