body {
  margin: 0;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  line-height: 1.8;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-weight: 500;
}

a {
  text-decoration: none;
}
h2 {
  font-size: 32px;
  text-align: center;
  margin: 50px;
}

.container {
  margin: 0 50px;
}

.header {
  width: 100%;
  margin-bottom: 100px;
}

.header__mv {
  position: relative;
  height: 550px;
  width: 100%;
  background-image: url(img/mv2.jpg);
  background-position: top;
  background-size: cover;
}

.header__mv h1 {
  position: absolute;
  top: 30%;
  left: 16%;
  text-align: left;
  font-size: 50px;
}

.header__list {
  background: black;
  padding: 15px 0;
  opacity: 0.8;
}


.header__list ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); */
}

.header__list a {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}


.open,
.close {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}

.aside_list a {
  color: black;
  font-weight: 500;
}



.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about__ttl {
  text-align: center;
  margin-bottom: 50px;
}


.about__img {
  text-align: center;
}


.about__body {
  width: 60%;
margin: 0 auto;
}

.about__body p {
  margin: 20px 0;
  letter-spacing: 0.05rem;
}
.about__text1 {
  text-align: center;
}

.about__body h4 {
  margin-top: 20px;
}


.strength_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-auto-rows: 1fr;
}

.strength_item {
  text-align: center;
  margin: 0 30px;
}

.strength_item h3 {
  margin: 20px 0 10px 0;
}

.strength_item-line1 h3 {
  margin-top: 10px;
}

.strength_wrap .line1 {
  margin-top: 10px;
}

.strength h4 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
}




.skill {
  width: 100%;
  margin: 50px 0;
}

.skill h2 {
  text-align: center;
}

.skill__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.skill__item {
  display: flex;
  margin: 20px 15px;
}

.skill__item img {
  margin-right: 15px;
}

.skill__item h3{
  margin-top: 5px;
}

.skill__item a {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 20px;
  background: black;
  color: #ffffff;
}


.perform_wrap-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.perform_wrap-item img {
  padding: 0 50px;
  width: 500px;
}
.perform_wrap-item-text {
  margin-top: 50px;
  width: 40%;
  letter-spacing: 0.05rem;
  padding: 0 50px;
}
.perform_wrap-item-concept {
  text-align: center;
  padding-bottom: 10px;
}
.perform_wrap-item-img h3 {
  text-align: center;
}
.perform_wrap-item-text h3 {
text-align: center;
margin: 20px 0;
}
.perform_wrap-item-text {
margin-top: 20px;
}
.perform_wrap-item-text a {
 width: 110px;
 display: block;
  background: black;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 80%;
  margin: 20px auto;
  text-align: center;
}




.contact {
  margin: 50px 0;
}

.contact h2 {
  margin-bottom: 20px;
}
.contact p {
 text-align: center;
 margin: 20px;
}

.footer {
  width: 100%;
  height: 50px;
  background: black;
  opacity: 0.9;
}
.site_about {
  margin-left: 50px;
}
.site_about p {
  margin-bottom: 30px;
  font-size: 15px;
}


.site_wrap {
  margin:0 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.site_wrap-item-text p {
  padding-left: 75px;
}

.site_wrap-item-img {
  margin: 10px;
}
.site_wrap-item-img a:hover {
  opacity: 0.8;
}



.site_wrap-item-text .site_wrap-item-text_item1 {
padding-left: 100px;
}
.site_wrap-item-text .site_wrap-item-text_item2 {
padding-left: 30px;
}


.ficsite_wrap-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.ficsite_wrap-item img {
  padding: 0 50px;
  width: 450px;
}
.ficsite_wrap-item-text {
  width: 40%;
  letter-spacing: 0.05rem;
  padding: 0 50px;
}
.ficsite_wrap-item-concept {
  text-align: center;
  padding-bottom: 10px;
}
.ficsite_wrap-item-img h3 {
  text-align: center;
}
.ficsite_wrap-item-text h3 {
text-align: center;
margin-bottom: 10px;
}

.ficsite_wrap-item-textbtn ul {
 display: flex;
 justify-content: center;
}
.ficsite_wrap-item-textbtn li {
  margin: 30px 10px 10px 10px;
}
.ficsite_wrap-item-textbtn a {
  background-color: black;
  color: #ffffff;
  padding: 15px;
  font-size: 80%;
}
.ficsite_wrap .item2 {
  margin-top: 50px;
}

.content{
	margin: 0 auto;
	padding: 40px;
}
.modal{
	display: none;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
}
.modal__bg{
	background: rgba(0,0,0,0.8);
	height: 100vh;
	position: absolute;
	width: 100%;
}
#modal01 .modal__content{
	background: #fff;
	left: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	border-radius: 4px;
	position: relative;
  display: flex;
}

#modal01 .modal__content_about {
 margin: 0 20px;
 padding-left: 15px;
}

.modal__content_about li {
	font-size: 15px;
  padding-bottom: 10px;
  list-style: square;
}
.modal__content_text {
	font-size: 20px;
  margin-bottom: 10px;
}

.modal__content_text2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.js-modal-close {
 position: absolute;
 top: 5px;
 right: 10px;
 font-size: 20px;
 color: black;
}

#modal02 .modal__content{
	background: #fff;
	left: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	border-radius: 4px;
	position: relative;
  display: flex;
}

#modal02 .modal__content_about {
 margin: 0 20px;
 padding-left: 15px;
}


#modal03 .modal__content{
	background: #fff;
	left: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	border-radius: 4px;
	position: relative;
  display: flex;
}

#modal03 .modal__content_about {
 margin: 0 20px;
 padding-left: 15px;
}
#modal04 .modal__content{
	background: #fff;
	left: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	border-radius: 4px;
	position: relative;
  display: flex;
}

#modal04 .modal__content_about {
 margin: 0 20px;
 padding-left: 15px;
}

.repro_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.repro {
  margin: 0 70px;
}

.repro_wrap-item-img img {
  height: 250px;
  width: 350px;
  object-fit: scale-down;
}

.repro_wrap-item {
  margin: 10px;
}

.repro p {
  margin-top: 10px;
  text-align: center;
}



.sns img {
  margin: 10px;
}











