body {
  margin: 0;
  padding: 0;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
  font-weight: 600;
}


li {
  list-style: none;
 
}

a {
  color:black;
  text-decoration: none;
}

h2 {
  font-size: 180%;
  text-align: center;
}

.header {
  position: relative;
}

.header__wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  z-index: 5;
}


.header__logo img {
  width: 80%;
}

.header__list ul {
  display: flex;
  flex-wrap: wrap;
}

.header__list a {
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 3px 5px #000000;
}

.header__list a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.header__list li {
  padding: 0 15px;
}

.header__mv {
  position: relative;
}

.header__title {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 20%;
  writing-mode: vertical-rl;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-shadow: 1px 3px 5px #000000;
  font-size: 150%;
}

.responsiveheader__title {
  color: #ffffff;
  position: absolute;
  top: 65%;
  left: 25%;
  height: 200px;
  writing-mode: vertical-rl;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-shadow: 1px 3px 5px #000000;
  font-size: 80%;
}


.kodawari p {
 text-align: center;
 letter-spacing: 0.05rem;
 line-height: 2rem;
 padding: 0 10px;
}

.kodawari_subtext {
  padding-bottom: 50px;
  padding-top: 20px;
}

.soil {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px;
}

.soil__img img {
  margin: 2%;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.soil__text {
margin: 2%;
letter-spacing: 0.05rem;
 line-height: 2rem;
 padding: 0 10px;
}


.footer {
  background-image: url(../img/sky__footer.jpg);
  background-size: cover;
  height: 250px;
  padding: 0 0  20px 50px;
 }


.footer__list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.footer__list li {
  padding: 15px;
}

.footer__list a {
 font-weight: 600;
 color: #ffffff;
 text-shadow: 1px 3px 5px #000000;
}

.footer__list a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.footer__company {
  padding-left: 15px;
  font-weight: 600;
}
.footer__company h4 {
  margin: 0;
  padding: 5px;
}
.footer__company p {
  margin: 0;
  padding: 5px;
  color: #ffffff;
  text-shadow: 1px 3px 5px #000000;
  cursor: default;
}

.open,
.close {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}



@media screen and (min-width:1025px) and ( max-width:2000px) {
  .responsiveheader__title {
    display: none;
  }

  .modalheader__list {
    display: none;
  }
  
}
@media screen and (max-width: 1024px){
.header__logo img {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20%;
}
.header__title {
  display: none;
}
.header__list {
  display: none;
}


.open,
.close {
  display: block;
  font-size: 30px;
  padding-left: 10px;
  z-index: 50;
}
/* .fas {
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: green;
} */

.open {
  position: absolute;
  top: 0;
  padding: 5px 10px;
  background-color: #ffffff;
  color: green;
}
.aside {
  width: 250px;
  position: absolute;
  left: -250px;
  height: 100%;
  transition: all 0.2s;
  background: #ffffff;
  z-index: 100;
  top: 0;
}

.aside li {
  padding: 5px 10px;
  font-size: 120%;
  font-weight: 600;
}

input[type="checkbox"]:checked ~ .aside {
  left: 0;
}
input[type="checkbox"]:checked ~ .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) ;
  z-index: 50;
}





@media screen and (max-width:768px) { 
 .footer__list {
   display: none;
 }

 .header__title {
   display:none;
 }


 .footer__company {
   padding-top: 30px;
 }
}

 @media screen and (max-width:425px){

 .responsiveheader__title {
  color: #ffffff;
  position: absolute;
  top: 70%;
  left: 25%;
  height: 150px;
  writing-mode: vertical-rl;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-shadow: 1px 3px 5px #000000;
  font-size: 80%;
}
br {
  display: none;
}


.kodawari p {
  text-align: center;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  padding: 0 15px;
 }
}


