body, h1 {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}
* {
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  height: 660px;
  background: pink;
  text-align: center;
  color: #ffffff;
  background-image: url(img/header22.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.header-logo  {
  padding-top: 140px;
}

.header-logo img {
  width: 130px;
  height: 115px;

}

.header-logo p {
  font-size: 20px;
  font-weight: 400;
}

.header-app img {
  width: 165px;
  height: 50px;
  padding-top: 165px;
  margin-right: 5px;
  margin-left: 5px;
}

.header-mesage p {
  padding-top: 28px;
  font-size: 14px;
}

.section1-about {
  display: flex;
}

.section1-about .item { 
  padding: 50px 38px;
  color: #ffffff;
}

.item p {
  font-size: 15px;
  font-weight: 400;
}
.item h1 {
  margin-bottom: 10px;
}



.section1-about-item1 {
  height: 440px;
  width: 100%/3;
  background-image: url(img/item1.jpg);
  background-size: cover;
  background-position: center bottom;
  flex: 1;
}

.section1-about-item2 {
  height: 440px;
  background-image: url(img/item2.jpg);
  background-size: cover;
  background-position: center bottom;
  flex: 1;
}

.section1-about-item3 {
  height: 440px;
  background-image: url(img/item3.jpg);
  background-size: cover;
  background-position: center bottom;
  flex: 1;
}

.section3 {
  text-align: center;
}

.section3 h2 {
  font-size: 20px;
  color: #3f434a;
}

.section3-wrap {
  display: flex;
  width:100%;
  height: 580px;
}

.service {
  width: 50%;
  background: #f5f5f5;
}

.section3 .service h2 {
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 5px;
}

.service-free-img {
  margin: 0 auto;
  background-image: url(img/price.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
  height: 250px;
}

.service-free-img .free {
  height: 46px;
  width: 125px;
}

.service p {
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}

.service span {
font-size: 20px;
font-weight: 700;
}

.service .caption {
  font-size: 13px;
  padding-top: 30px;
}
 
.service-day {
  width: 50%;
  height: 560px;
  padding-top: 175px;
  text-align: center;
}

.service-day img {
  height: 156px;
}

.section4 {
  background: #ead5dc;
  color: #3f434a;
}

.section4 .container {
  display: flex;
}

.section4 .container .img {
  width: 50%;
  background-image: url(img/why.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 730px;
} 

.section4 .container .body {
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.section4 .container .body h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.section4 .container .body p {
  text-align: left;
}

.section5{
  height: 730px;
  background: #E7E3DF;
 padding-top: 50px;
}

.section5 .container {
  display: flex;
}

.section5 .container .product {
  width: 50%;
  height: 730px;
  max-width: 400px;
  margin: auto;
}

.section5 .container .product h2 {
  text-align: center;
}

.section5 .container .product .feature {
  font-size: 14px;
  font-weight: 700;
  background:  #ffffff;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 5px 5px;
  width: 220px;
}

.section5 .container .product .product-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section5 .container .product .product-images .product-img {
  position: relative;
}

.section5 .container .product .product-images .item1 p {
  position: absolute;
  top: 60%;
  left: 35%;
}
.section5 .container .product .product-images .item2 p {
  position: absolute;
  top: 60%;
  left: 30%;
}
.section5 .container .product .product-images .item3 p {
  position: absolute;
  top: 60%;
  left: 25%;
}

.product-price-wrapper {
  border: 2px solid #3f434a;
  margin: 0 15px 0 0;
  padding: 5px;
  font-size: 14px;
}

.section5 .container .product .feature-about {
  font-size: 15px;
  margin-top: 30px;
}

.product-price {
  display: flex;
  margin-bottom: 15px;
}

.product-price-wrapper-about p {
  margin: 0;
  font-size: 18px;
}


.product-price-wrapper-about span {
  font-size: 13px;
}

.product-about-img {
  width: 50%;
  background-image: url(img/utsuwa.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height:730px ;
}





.section6 {
  padding: 75px 25px 100px;
  height: 290px;
}

.section6 h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.section6 .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.section6 .container .item {
  flex-grow: 1;
}

.section6 .container img {
  height: 80px;
  width: 80px;
}

.section6 .container h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
}

.section7 .container {
  display: flex;
  padding-left: 270px;
}

.section7 {
  background: #EFDFC5;
  height: 420px;
}

.section7 .container .phone img {
  width: 550px;
    height: 420px;
}

.section7 .container .logo img {
  height: 80px;
  width: 120px;
  padding-top: 60px;
  padding-left: 20px;
}

.footer {
  background-color: #3F434A;
  padding: 40px 20px;
  position: relative;
}

.footer img {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 20px;
  right: 25px;
}

.footer .container ul {
  display: flex;
}

.footer .container li {
  padding-right: 100px;

  font-size: 14px;
}

.footer .container small {
  text-align: center;
  display: block;
  color: #ffffff;
  opacity: 0.5;
  font-size: 13px;
  padding-top: 80px;
  padding-bottom: 90px;
}